@font-face {
    font-family: "Gilroy";
    font-weight: bold;
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: lighter;
    src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-weight: normal;
    src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-weight: lighter;
    src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

body {
    min-width: 1240px;
    outline: 1px solid #8AB547;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    padding-top: 40px;
}

.subtitle {
    font-size: 47px;
    color: #000000;
    line-height: 47px;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.index_header,
.device_header {
    outline: 1px solid #8AB547;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f7e296;
    height: 298px;
    /* временная высота*/
}

.index_center,
.device_center {
    padding-left: 60px;
    padding-right: 60px;
    outline: 1px solid #8AB547;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    padding-top: 10px;
    justify-content: space-between;
}

.logo {
    font-size: 48px;
    line-height: 48px;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
    letter-spacing: 0.014em;
    font-weight: bold;
    outline: 1px solid #8AB547;
    display: inline-block;
    margin-top: -25px;
    margin-left: 56px;
    color: black;
}

.search_form_header {
    /*    width: 500px;*/
    display: flex;

    position: relative;
    border-bottom: 2px solid #000;
}

.search_form {
    width: 359px;
    min-height: 49px;
    padding-left: 40px;
    background-color: inherit;
    border: none;
    font-size: 15px;
    line-height: 36px;
   
    opacity: .3;
    padding-right: 10px;
}

.search_form_header::before {
    width: 16px;
    height: 16px;
    background-position: -1582px -20px;
    position: absolute;
    content: '';
    background-image: url(../img/sprite.png);
   
    display: block;
    top: 17px;
    left: 3px;
}

.search_form:hover .search_form_header::before {
    opacity: .6;
}
.search_form:hover {
    opacity: .6;
}
.assortment_img {
    background-color: #f7e296;
    margin-bottom: 34px;
    width: 160px;
    height: 160px;
  display: block;

}
.assortment_type:hover .assortment_img{
    background-color:#F0C52E;
}
.assortment_type:active .assortment_img{
    background-color:#F0C52E;
}
.assortment_type:active .glasses{
    opacity: .6;
}
.assortment_type:active .selfie_stick{
    opacity: .6;
}
.assortment_type:active .camera{
    opacity: .6;
}
.assortment_type:active .bracelet{
    opacity: .6;
}
.assortment_type:active .smart_watch{
    opacity: .6;
}
.assortment_type:active .quadcopter{
    opacity: .6;
}
.quadcopter{

    background-image: url(../img/sprite.png);
    display: block;
    margin-left: 12px;
    margin-right: auto;
    margin-top: 48px;
    width: 132px;
    height: 69px;
    background-position: -1410px -20px;
} 
.smart_watch{

    background-image: url(../img/sprite.png);
    display: block;
    margin-left: 54px;
    margin-right: auto;
    margin-top: 31px;
    width: 56px;
    height: 98px;
    background-position: -1764px -20px;
} 
.bracelet{

    background-image: url(../img/sprite.png);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 49px;
    width: 107px;
    height: 65px;
    background-position: -20px -20px;
} 
.selfie_stick{

    background-image: url(../img/sprite.png);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 86px;
    height: 117px;
    background-position: -1638px -20px;
} 
.glasses{
    background-image: url(../img/sprite.png);
    width: 97px;
    height: 55px;
    background-position: -1032px -20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 51px;
}
.camera {
    background-image: url(../img/sprite.png);
    display: block;
    margin-left: 48px;
    margin-right: auto;
    width: 71px;
    height: 87px;
    background-position: -167px -20px;
    margin-top: 37px;
}
.search_form_header .search_submit {
/*  display: none;*/
    background-color: inherit;
    width: 85px;
    min-height: 49px;
    margin-left: -4px;
    border: 2px solid #000;
    cursor: pointer;
    margin-bottom: -2px;
}

.search_form_header .search_submit:hover {
    background-color: black;
    color: white;
}

.search_form_header .search_submit:active {
    background-color: black;
    color: #8D8D8D;
}
/*
.search_form_header:focus-within{
    border-bottom: 2px solid #000;
}
*/
.user_block {
    outline: 1px solid #8AB547;
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}

.user_block a {
    font-size: 15px;
    color: black;
    line-height: 36px;
    outline: 1px solid #8AB547;
    padding-left: 25px;
    position: relative;
}
.user_block a::before {
    position: absolute;
    content: '';
   background-image: url(../img/sprite.png);
    
}
.user_block .enter::before {
  
    width: 13px;
    height: 12px;
    background-position: -854px -20px;
    top: 11px;
    left: -1px;
}
.user_block .compare::before {

    width: 10px;
    height: 10px;
    background-position: -382px -20px;
    top: 13px;
    left: 5px;
}
.user_block .basket::before {

    width: 12px;
    height: 12px;
    background-position: -330px -20px;
    top: 11px;
    left: 1px;
}
.user_block a:hover {
    opacity: .6;
}
.user_block a:active {
    opacity: .3;
}
.user_block .enter {
    margin-right: 173px;
    
}
.user_block 
.main_nav {
    outline: 1px solid #8AB547;
    display: flex;
    width: 100%;
    
}

.nav_list {
    outline: 1px solid #8AB547;
    display: flex;
    width: 1042px;
    justify-content: flex-start;
    padding: 0;
    align-items: flex-start;
    margin-top: 30px;
}

.nav_list li {
    list-style: none;
    outline: 1px solid #8AB547;
    width: 220px;
}

.index_header a,
.device_header a {
    text-decoration: none;
    outline: 1px solid #8AB547;
}

.nav_list .main_items,
.index_catalog,
.device_catalog {
    font-size: 18px;
    line-height: 19px;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
    color: black;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: bold;
}
.device_catalog{
    position: relative;
}
.device_catalog::after {
    position: absolute;
    content: '';
    background-color: black;
    opacity: .3;
    width: 2px;
    height: 16px;
    display: block;
    top: 3px;
    right: -21px;
}
.device_catalog::before {
    position: absolute;
    content: '';
    background-color: black;
    opacity: .3;
    width: 16px;
    height: 2px;
    display: block;
    top: 10px;
    right: -28px;
}
.index_catalog::after {
    position: absolute;
    content: '';
    background-color: black;
    opacity: .3;
    width: 2px;
    height: 16px;
    display: block;
    top: 3px;
    right: -21px;
}
.index_catalog::before {
    position: absolute;
    content: '';
    background-color: black;
    opacity: .3;
    width: 16px;
    height: 2px;
    display: block;
    top: 10px;
    right: -28px;
}

.device_center .logo {
    color: black;
}

.nav_list>li:last-child {
    margin-left: 108px;
}

.nav_list_li {
    margin-right: 281px;
    margin-left: -2px;
    padding-right: 40px;
    position: relative;
    flex-basis: 420px;
}
.nav_list_li:hover .catalog_inside {
    display: flex;
}
.nav_list>li:nth-child(2) {
    margin-right: 34px;
}

.catalog_inside a {
    font-size: 15px;
    line-height: 36px;
    color: black;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
}

.btn {
    font-size: 18px;
    line-height: 18px;
    color: black;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.catalog_inside {
    position: absolute;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    left: -58px;
    padding-left: 59px;
    width: 1160px;
    /* margin-top: 0px; */
    background-color: #f7e296;
    /* background-color: #a4e087; */
    align-items: flex-start;
    display: none;
    box-sizing: border-box;
    padding-right: 441px;
    padding-bottom: 35px;
    z-index: 9;
    padding-top: 22px;
}

.catalog_inside li:nth-child(2){
    padding-left: 18px;
}
.catalog_inside li {
    box-sizing: border-box;
}
.catalog_inside li:nth-child(5){
    padding-left: 18px;
    margin-right: 220px;
}
.inner_user_block .enter {
    margin-right: 24px;
}
.inner_user_block .exit{
    padding: 0;
    margin-right: 60px;
}
.exit {
    opacity: .3;
}
.inner_user_block .compare{
    margin-right: 40px;
}

.inner_user_block {
    justify-content: flex-start;
}
.slider {
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
    margin-top: -111px;
    margin-bottom: 99px;
    position: relative;
}

.first_slide,
.second_slide,
.third_slide {
    padding-left: 60px;
    padding-right: 60px;
}

.first_slide,
.second_slide,
.third_slide {
    outline: 1px solid #8AB547;
    display: flex;
    justify-content: space-between;
}

.slider .subtitle {
    font-weight: bold;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
    margin-bottom: 26px;
}

.slide_number {
    position: absolute;
    font-weight: bold;
    font-size: 179.2px;
    line-height: 179.2px;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
    /*    display: none;*/
    right: -10px;
    top: -15px;
    color: white;
    /*временно*/
}
.slider_btn {
    outline: 1px solid #8AB547;
    display: flex;
    position: absolute;
    content: '';
    width: 80px;
    height: 13px;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    right: 83px;
    top: 311px;
}
.slider_btn li{
    outline: 1px solid #8AB547;
    height: 8px;
    width: 8px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px;
}

.second_slide img {
    margin-left: 55px;
}

.second_slide .slide_number {
    top: -27px;
    right: -9px;
}

.second_slide .subtitle {
    margin-top: 67px;
    margin-bottom: 20px;
}

.second_slide p {
    line-height: 28px;
}

.second_slide .btn {
    margin-top: 55px;
    margin-left: 52px;
}

.main_description {
    position: relative;
    outline: 1px solid #8AB547;
    flex-basis: 511px;
}

.slider img {
    outline: 1px solid #8AB547;
    /*временно*/
}

.first_slide img {
    margin-left: 29px;
}

.subtitle {
    outline: 1px solid #8AB547;
    /*временно*/
}

.main_description p {
    outline: 1px solid #8AB547;
    padding-left: 9px;
    /*временно*/
}

.main_description a {
    margin-bottom: 67px;
    outline: 1px solid #8AB547;
    margin-top: 60px;
    display: block;
    margin-left: 53px;
    letter-spacing: 0.2em;
    /*временно*/
}

.main_description ul {
    outline: 1px solid #8AB547;
    /*временно*/
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 74px;
}

.main_description h2 {
    margin-top: 10px;
    margin-top: 79px;
    line-height: 57px;
    padding-left: 9px;
    letter-spacing: 0.012em;
}

.difference li {
    outline: 1px solid #8AB547;
    /*временно*/
    display: flex;
    flex-direction: column;
}

.first_difference {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 14px;
}

.second_difference {
    font-size: 13px;
    line-height: 20px;
}

.third_slide img {
    margin-top: 65px;
}

.third_slide {
    padding-left: 30px;
}

.third_slide .subtitle {
    margin-bottom: 19px;
    position: relative;
}

.third_slide p {
    line-height: 29px;
}

.third_slide .btn {
    margin-top: 54px;
    margin-left: 52px;
}

.third_slide .difference {
    padding-right: 151px;
}

.assortment {
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
    outline: 1px solid #8AB547;
    /*временно*/
    display: flex;
    justify-content: space-between;
    margin-bottom: 190px;
}

.assortment_type_block {
    outline: 1px solid #8AB547;
    /*временно*/
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 21px;
    color: black;
    font-weight: bold;
    letter-spacing: .015em;
}



/*
.assortment_type_block img {
    background-color: #f7e296;
    margin-bottom: 35px;
}
*/

.assortment a {
    text-decoration: none;
}

.service {
    width: 100%;
    background: linear-gradient(to top, #e5e5e5 82%, white 18%);
    background-color: #e5e5e5;
    height: 285px;
    padding-bottom: 65px;
    margin-bottom: 95px;
}

.service_container {
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
    outline: 1px solid #8AB547;
    /*временно*/
    display: flex;
    justify-content: space-between;
}
.service_delivery {
    position: relative;
}
.service_delivery::after {
    position: absolute;
    content:'';
  background-image: url(../img/sprite.png);
    right: 67px;
    top: 50px;
    width: 136px;
    height: 164px;
    background-position: -678px -20px;
}
.service_guarantee{
    position: relative;
}
.service_guarantee::after {
    position: absolute;
    content:'';
    background-image: url(../img/sprite.png);
    right: 47px;
    top: 26px;
    width: 171px;
    height: 194px;
    background-position: -1932px -20px;
}
.service_loan{
    position: relative;
}
.service_loan::after {
    position: absolute;
    content:'';
    background-image: url(../img/sprite.png);
    right: 47px;
    top: 26px;
    width: 156px;
    height: 186px;
    background-position: -482px -20px;
}
.service_delivery {
        display: none;
/*    display: block;*/
}

.service_guarantee {
    display: none;
/*        display: block;*/
    /*временно*/
}

.service_loan {
/*    display: none;*/
        display: block;
    /*временно*/
}

.container {
    outline: 1px solid #8AB547;
    /*временно*/
    flex-basis: 300px;
    display: flex;
    margin-top: 31px;
}

.service_info {
    outline: 1px solid #8AB547;
    /*временно*/
    flex-basis: 760px;
}

.service_info p {
    outline: 1px solid #8AB547;
    /*временно*/
    font-size: 15px;
    line-height: 30px;
    width: 460px;
}

.services {
    outline: 1px solid #8AB547;
    /*временно*/
    list-style: none;
    padding: 0;
    width: 280px;
    position: relative;
}

.services::after {
    position: absolute;
    content: '';
    width: 7px;
    display: block;
    height: 319px;
    background-color: black;
    right: -3px;
    top: -81px;
}

.service_info .subtitle {
    letter-spacing: 1px;
    margin-bottom: 32px;
}

.services a {
    text-decoration: none;
    outline: 1px solid #8AB547;
    /*временно*/
    color: black;
    font-size: 18px;
    line-height: 18px;
    width: 160px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3.6px;
    /*    background-color: red;*/
    /*временно*/
}

.services li {
    outline: 1px solid #8AB547;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 26px;
    width: 100%;
}
.advertising_link {
    width: 260px;
    height: 100px;
}
.advertising_link_dji {
    background-image: url(../img/dji.jpg);
}
.advertising_link_dji:hover {
    background-image: url(../img/dji_hover.jpg);
}
.advertising_link_sp_gadgets {
    background-image: url(../img/sp.jpg);
}
.advertising_link_sp_gadgets:hover {
    background-image: url(../img/sp_hover.jpg);
}
.advertising_link_gopro{
    background-image: url(../img/gopro.jpg);
}
.advertising_link_gopro:hover {
    background-image: url(../img/gopro_hover.jpg);
}
.advertising_link_vive{
    background-image: url(../img/vive.jpg);
}
.advertising_link_vive:hover {
    background-image: url(../img/vive_hover.jpg);
}
.advertising {
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
    outline: 1px solid #8AB547;
    /*временно*/
    display: flex;
    justify-content: space-between;
    margin-bottom: 88px;
}

.about_us {
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
    outline: 1px solid #8AB547;
    /*временно*/
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 20px;
    margin-bottom: 73px;
}

.about_us_inner .subtitle {
    margin-left: -2px;
    margin-bottom: 43px;
    width: 598px;
}

.about_us_inner p {
    line-height: 31px;
    margin-bottom: 29px;
}

.about_us_inner ul {
    list-style: none;
    padding: 0;
    outline: 1px solid #8AB547;
    margin-top: 63px;
    padding-left: 34px;
    margin-bottom: 65px;
    /*временно*/
}

.more_about_us {
    margin-left: 21px;
    letter-spacing: 3.7px;
}

.about_us_inner ul span {
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
}

.footer_conteiner {
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
    outline: 1px solid #8AB547;
    /*временно*/
    display: flex;
    justify-content: space-between;
}

.left {
    outline: 1px solid #8AB547;
    padding-top: 60px
}

.footer_logo {
    font-size: 48px;
    color: #ffc600;
    letter-spacing: .012em;
    margin: 0;
    margin-left: -4px;
    margin-bottom: 16px;
}
.footer_logo:hover{
    opacity: .6;
    cursor: pointer;
}
.footer_logo:active{
    opacity: .3;
    cursor: pointer;
}
.left p {
    color: white;
}
.footer_link {
    opacity: .6;
    cursor: pointer;
}
.footer_link:hover {
    opacity: inherit;
    cursor: pointer;
}
.footer_link:active{
    opacity: .3;
    cursor: pointer;
}
.user_block_footer a {
    color: rgba(255, 255, 255, .7);
    text-decoration: none;
    outline: 1px solid #8AB547;
}

.user_block_footer {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    margin-bottom: 54px;
}

.tel {
    color: white;
    outline: 1px solid #8AB547;
    padding-left: 183px;
    letter-spacing: 0.2px;
}

.left,
.right {
    outline: 1px solid #8AB547;
    width: 30%;
}

.academy {
    outline: 1px solid #8AB547;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-top: 69px;
}
.academy a:hover {
    opacity: .6;
}
.academy a:active {
    opacity: .3;
}
.center {
    outline: 1px solid #8AB547;
    width: 40%;
}

.footer_social {
    outline: 1px solid #8AB547;
    display: flex;
    margin-bottom: 70px;
    justify-content: space-between;
    padding-left: 161px;
    padding-right: 163px;
}

.social_link {
    outline: 1px solid #8AB547;
    width: 32px;
    height: 32px;
}

.footer_options a {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: bold;
    text-decoration: none;
}

.footer_options {
    padding-top: 137px;
    display: flex;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 64px;
}
.footer_options a:hover {
    opacity: .6;
}
.footer_options a:active {
    opacity: .3;
}
.contacts .subtitle {
    letter-spacing: 0.7px;
    margin-bottom: 44px;
}

.contacts p {
    line-height: 30px;
    margin-bottom: 38px;
}

.map {
    margin-left: 3px;
}

.write_to_us {
    margin-top: 77px;
    display: block;
    margin-left: 43px;
    letter-spacing: 3.7px;
}

.device_footer {
    outline: 1px solid #8AB547;
    /*временно*/
    background-color: #464646;
}
.footer_enter{
    position: relative;
}
.footer_enter:before{
    
    background-image: url(../img/sprite.png);
    left: -27px;
    height: 12px;
    width: 13px;
    height: 12px;
    background-position: -907px -20px;
    position: absolute;
    content: '';
}
.inner_catalog {
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
    outline: 1px solid #8AB547;
    /*временно*/
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    margin-bottom: 25px;
}

.inner_catalog h2 {
    margin-bottom: 19px;
    letter-spacing: .012em;
    font-size: 47px;
    padding-left: 60px;
    color: #000;
}

.bread_crumbs {
    list-style: none;
    padding: 0;
    display: flex;
    outline: 1px solid #8AB547;
    /*временно*/
    padding-left: 60px;
}

.bread_crumbs li {
    margin-right: 38px;
    outline: 1px solid #8AB547;
    /*временно*/
}

.bread_crumbs a {
    text-decoration: none;
    color: black;
    outline: 1px solid #8AB547;
    /*временно*/
    font-size: 14px;
    line-height: 36px;
}

.content_central {
    outline: 1px solid #8AB547;
    display: flex;
}
.central{
    width: 100%;
}
.catalog_filter {
    outline: 1px solid #8AB547;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: calc(50% - 580px);
    background: linear-gradient(to top, #efefef 92%, #dcdcdc 8%); 
}

.catalog_items {
    outline: 1px solid #8AB547;
    display: flex;
    flex-wrap: wrap;
    padding-right: calc(50% - 580px);
    background: linear-gradient(to top, white 92%, #efefef 8%);
}

.menu_varieties {
    display: flex;
   align-items: center;
   padding-top: 14px;
    outline: 1px solid #8AB547;
    padding-bottom: 14px;
    
}
.inner_items{
display: flex;
   
    outline: 1px solid #8AB547;
}
.inner_items a{
    outline: 1px solid #8AB547;
    margin-right: 31px;
}
.menu_varieties h2 {
    padding-left: 71px;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: .23em;
    margin-right: 50px;
    
}
.menu_varieties a{
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
}
.goods {
    outline: 1px solid #8AB547;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.goods_new{
    position: relative;
}
.goods_new:before{
    content: "NEW";
    position: absolute;
    top: 29px;
    right: 27px;
    width: 30px;
    height: 16px;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
    font-weight: bold;
    padding-top: 21px;
    padding-bottom: 19px;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 14px;
    text-align: center;
    color: rgba(0,0,0,.2);
    letter-spacing: 1px;
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 50%;
}
.inner_content {
    min-width: 1240px;
    outline: 1px solid #8AB547;
    margin: 0;
    padding: 0;
}

.filter_form {
    width: 200px;
display: flex;
    flex-direction: column;
    outline: 1px solid #8AB547;
    margin-left: 60px;
    margin-right: 70px;
    margin-top: 70px;
    
}
.filter_form fieldset{
    border: none;
}
.catalog_filter h2 {
    font-size: 16px;
    line-height: 16px;
/*    width: 100%;*/
    text-align: right;
    margin: 0;
    padding-bottom:27px;
    /*временно*/
    padding-top: 27px;
    /*временно*/
    text-align: left;
padding-right: 178px;
    letter-spacing: .23em;
}

.inner_main_items {
    display: flex;
    outline: 1px solid #8AB547;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 58px;
    padding-left: 71px;
    flex-wrap: wrap;
}
.goods_name {
    text-decoration: none;
    outline: 1px solid #8AB547;
    width: 260px;
    margin: 0;
    font-size: 18px;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
    font-weight: bold;
    color: #000;
    letter-spacing: .012em;
    line-height: 21px;
}
.goods_layers {
   
    margin-bottom: 31px;
}
.goods {
    position: relative;
}
.hover_surprise {

    position: absolute;
    content: '';
    width: 360px;
   display: none;
    outline: 1px solid #8AB547;
/*    display: flex;*/
    top: 0;
    left: 0;
    flex-direction: column;
    padding-top: 182px;
    background-color: rgba(239, 239, 239,0.6);
    
 
}
.hover_surprise_buy {
    outline: 1px solid #8AB547;
    text-align: center;
    letter-spacing: 4px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 28px;
    position: relative;
    z-index: 2;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.hover_surprise_buy:before{
    background-color: #f0c52e;
    position: absolute;
    display: block;
    content: '';
    width: 200px;
    height: 8px;
    z-index: 1;
    top: 4px;
    left: 0px;
   
}
.hover_surprise_buy:hover:before{
    height: 40px;
    top: -11px;
    
}
.hover_surprise_buy:active{
    opacity: .6;
}
.hover_surprise_compare {
    outline: 1px solid #8AB547;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 13px;
    margin-bottom: 137px;
    margin-left: auto;
    margin-right: auto;
    opacity: .6;
}
.hover_surprise_compare:hover{
    opacity: inherit;
}
.hover_surprise_compare:active{
    opacity: .3;
}
.goods_layers:hover .hover_surprise{
    display: flex;
}
.name_and_price {
    display: flex;
    justify-content: space-between;
}
.name_and_price span {
    padding-right: 1px;
    letter-spacing: 0.7px;
    margin-top: 4px;
}
.catalog_items_nav {
    outline: 1px solid #8AB547;
    display: flex;
    list-style: none;
    padding: 0;
    width: 760px;
    margin-right: 0;
    margin-left: auto;
    justify-content: center;
    margin-top: 0;
    background-color: #ebebeb;
}
.catalog_items_nav a{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
    font-weight: bold;
    color: black;
    font-size: 16px;
}
.figures {
    outline: 1px solid #8AB547;
    padding-top: 28px;
    width: 25px;
    margin-right: 14px;
    margin-left: 14px;
    width: 10px;
  
}
.figures a {
    letter-spacing: 1px;
    opacity: .3;
}
.figures a:hover{
    opacity: .6;
}
.figures_first a{
    opacity: .9;
    cursor: text;
}
.figures_first a:hover{
    opacity: inherit;
}
.catalog_items_prev {

    margin-right: 199px;
   
    
}
.prev_next {
    padding-left: 30px;
    padding-right: 25px;
    padding-top: 27px;
    padding-bottom: 27px;
    display: block;
    outline: 1px solid #8AB547;
}
.prev_next:hover {
    background-color: #dcdcdc;
}
.prev_next:active {
    opacity: .3;
}
.catalog_items_next {
    margin-left: auto;
}

.first_slide {
    /*    display: none;*/
    display: flex;
}

.second_slide {
    display: none;
    /*        display: flex;*/
    padding-top: 12px;
}

.third_slide {
    display: none;
    /*    display: flex;*/
}

.index_catalog {
    position: relative;
}

.device_header {
    height: 184px;
}
