@font-face {
    font-family: "Gilroy";
    font-weight: bold;
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: lighter;
    src: url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-weight: normal;
    src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-weight: lighter;
    src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

body {
    min-width: 1240px;
    outline: 1px solid #8AB547;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    padding-top: 40px;
}

.subtitle {
    font-size: 47px;
    color: #000000;
    line-height: 47px;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
.central_device{
    width: 1160px;
    outline: 1px solid #8AB547;
/*
   padding: 0 20px;
    margin: 0 auto;
*/
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    
}
.background_box{
    background-color: #f7e296;
}
.index_header,
.device_header {
    outline: 1px solid #8AB547;
/*    width: 1160px;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    background-color: #f7e296;*/
    height: 298px;
/*     временная высота*/
}

.index_center,
.device_center {
    padding-left: 60px;
    padding-right: 60px;
    outline: 1px solid #8AB547;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    padding-top: 10px;
    justify-content: space-between;
}

.logo {
    font-size: 48px;
    line-height: 48px;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
    letter-spacing: 0.014em;
    font-weight: bold;
    outline: 1px solid #8AB547;
    display: inline-block;
    margin-top: -25px;
    margin-left: 57px;
    color: black;
}

.logo_inner:hover {
    opacity: .6;
}

.logo_inner:active {
    opacity: .3;
}

.search_form_header {
    display: flex;
    position: relative;
}

.search_form_header_show:after {
    /*        border-bottom: 2px solid #000;*/
    position: absolute;
    width: 359px;
    content: '';
    height: 2px;
    background-color: #000;
    bottom: 0;
    
}

.search_form {
    width: 359px;
    min-height: 49px;
    padding-left: 40px;
    background-color: inherit;
    border: none;
    font-size: 15px;
    line-height: 36px;
    opacity: .3;
    padding-right: 10px;
}

.search_form_header::before {
    width: 16px;
    height: 16px;
    position: absolute;
    content: '';
    background-image: url(../img/svg-device/search.svg);
    display: block;
    top: 17px;
    left: 3px;
}


/*
.search_form_header:hover::before {
    opacity: .6;
}
*/

.search_form:hover {
    opacity: .6;
}

/*
.assortment_img {
    background-color: #f7e296;
    margin-bottom: 34px;
    width: 160px;
    height: 160px;
    display: block;
}

.assortment_type:hover .assortment_img {
    background-color: #F0C52E;
}

.assortment_type:active .assortment_img {
    background-color: #F0C52E;
}

.assortment_type_block:active {
    color: #cacaca;
}

.assortment_type:active .glasses {
    opacity: .6;
}

.assortment_type:active .selfie_stick {
    opacity: .6;
}

.assortment_type:active .camera {
    opacity: .6;
}

.assortment_type:active .bracelet {
    opacity: .6;
}

.assortment_type:active .smart_watch {
    opacity: .6;
}

.assortment_type:active .quadcopter {
    opacity: .6;
}
*/

/*
.quadcopter {
    display: block;
    margin-left: 12px;
    margin-right: auto;
    margin-top: 48px;
    width: 132px;
    height: 69px;
}

.smart_watch {
    display: block;
    margin-left: 54px;
    margin-right: auto;
    margin-top: 31px;
    width: 56px;
    height: 98px;
}

.bracelet {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 49px;
    width: 107px;
    height: 65px;
}

.selfie_stick {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 86px;
    height: 117px;
}

.glasses {
    width: 97px;
    height: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 51px;
}

.camera {
    display: block;
    margin-left: 48px;
    margin-right: auto;
    width: 71px;
    height: 87px;
    margin-top: 37px;
}
*/

.search_submit {
    display: none;
}

.search_submit_show {
    display: block;
    background-color: inherit;
    width: 85px;
    min-height: 49px;
    margin-left: -5px;
    border: 2px solid #000;
    cursor: pointer;
    margin-bottom: 0px;
    letter-spacing: 1px;
}

.search_submit_show:hover {
    background-color: black;
    color: white;
}

.search_submit_show:active {
    background-color: black;
    color: #8D8D8D;
}

.enter img {
    margin-right: 9px;
}

.compare img {
    margin-right: 6px;
}

.compare {
    letter-spacing: -0.2px;
background-image: url(../img/svg-device/compare.svg);
    background-repeat: no-repeat;
    background-position: 0px 13px;
    padding-left: 20px;
    
}

.basket img {
    margin-right: 7px;
}

.enter {
    letter-spacing: 0.2px;
}

.user_block {
    outline: 1px solid #8AB547;
    width: 501px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 7px;
}

.user_block a {
    font-size: 15px;
    color: black;
    line-height: 36px;
    outline: 1px solid #8AB547;
 
}

.user_block .enter:hover {
    opacity: .6;
}

.user_block .enter:active {
    opacity: .3;
}

.user_block .enter {
    margin-right: 218px;
    padding-left: 27px;
    background-image: url(../img/svg-device/user.svg);
    background-position: 1px 11px;
    background-repeat: no-repeat;
}
.index_header .main_nav{
    margin-bottom: 151px;padding-left: 1px;
}

.user_block .main_nav {
    outline: 1px solid #8AB547;
    display: flex;
/*    width: 100%;*/
}

.nav_list {
    outline: 1px solid #8AB547;
    display: flex;
    width: 1042px;
    justify-content: flex-start;
    padding: 0;
    align-items: flex-start;
    margin-top: 32px;
}

.nav_list li {
    list-style: none;
    outline: 1px solid #8AB547;
    width: 220px;
}

.index_header a,
.device_header a {
    text-decoration: none;
    outline: 1px solid #8AB547;
}

.nav_list .main_items,
.index_catalog,
.device_catalog {
    font-size: 18px;
    line-height: 19px;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
    color: black;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: bold;
}

.device_catalog {
    position: relative;
}

.device_catalog::after {
    position: absolute;
    content: '';
    background-color: #B7AA73;
    width: 2px;
    height: 16px;
    display: block;
    top: 3px;
    right: -21px;
}

.device_catalog::before {
    position: absolute;
    content: '';
    background-color: #B7AA73;
    width: 16px;
    height: 2px;
    display: block;
    top: 10px;
    right: -28px;
}

.index_catalog::after {
    position: absolute;
    content: '';
    background-color: #B7AA73;
    width: 2px;
    height: 16px;
    display: block;
    top: 3px;
    right: -21px;
}

.index_catalog::before {
    position: absolute;
    content: '';
    background-color: #B7AA73;
    width: 16px;
    height: 2px;
    display: block;
    top: 10px;
    right: -28px;
}

.device_center .logo {
    color: black;
}

.nav_list>li:last-child {
    margin-left: 108px;
}

.nav_list_li {
    margin-right: 281px;
    margin-left: -2px;
    padding-right: 40px;
    position: relative;
    flex-basis: 420px;
}

.nav_list_li:hover .catalog_inside {
    display: flex;
}

.nav_list>li:nth-child(2) {
    margin-right: 34px;
}

.nav_list a:hover {
    opacity: .6;
}

.nav_list a:active {
    opacity: .3;
}

.catalog_inside a {
    font-size: 15px;
    line-height: 36px;
    color: black;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
}

.btn {
    font-size: 18px;
    line-height: 18px;
    color: black;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 11px;
    padding-top: 11px;
}

.catalog_inside {
    position: absolute;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    left: -58px;
    padding-left: 59px;
    width: 1160px;
    /* margin-top: 0px; */
    background-color: #f7e296;
    /* background-color: #a4e087; */
    align-items: flex-start;
    display: none;
    box-sizing: border-box;
    padding-right: 441px;
    padding-bottom: 35px;
    z-index: 9;
    padding-top: 22px;
}

.catalog_inside li:nth-child(2) {
    padding-left: 18px;
}

.catalog_inside li {
    box-sizing: border-box;
}

.catalog_inside li:nth-child(5) {
    padding-left: 18px;
    margin-right: 220px;
}

.inner_user_block .enter {
    margin-right: 24px;
}

.inner_user_block .exit {
    padding: 0;
    margin-right: 60px;
}

.exit {
    opacity: .3;
}

.user_block .compare:hover {
    opacity: .6;
}

.user_block .compare:active {
    opacity: .3;
}

.inner_user_block .compare {
    margin-right: 40px;
}

.user_block .basket:hover {
    opacity: .6;
}

.user_block .basket:active {
    opacity: .3;
}

.inner_user_block .compare {
    margin-right: 40px;
}

.inner_user_block {
    justify-content: flex-start;
}
.slide_part{
    width: 560px;
    outline: 1px solid #8AB547;
}
/*
.slide_part img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
*/
.slider .central_device{
/*
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
*/
    margin-top: -111px;
    margin-bottom: 99px;
    position: relative;
    height: 494px;
}

.slide {
/*
    padding-left: 60px;
    padding-right: 60px;
*/
    display: flex;
    outline: 1px solid #8AB547;
    position: absolute;
    justify-content: space-between;
    width: 1160px;
 
}
/*
.third_slide {
    width: 1070px;
}
*/
.slide_hidden {
    opacity: 0;
    z-index: -1;
}

.slide_hidden_show {
    opacity: 1;
    z-index: 0;
    transition: .20s linear;
}


/*
.first_slide,
.second_slide,
.third_slide {
    outline: 1px solid #8AB547;
  
    justify-content: space-between;
}
*/

.slider .subtitle {
    font-weight: bold;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
    margin-bottom: 26px;
    margin-top: 80px;
    line-height: 55px;
    letter-spacing: 0.012em;
/*    background-color: white;*/
    margin-bottom: 20px;
}

.slide_number {
    position: absolute;
    font-weight: bold;
    font-size: 179.2px;
    line-height: 179.2px;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
    /*    display: none;*/
    right: 50px;
    top: -15px;
    color: white;
    z-index: -1;
    /*временно*/
}

.slider_btn {
    outline: 1px solid #8AB547;
    display: flex;
    position: absolute;
    content: '';
    width: 78px;
    height: 12px;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    right: 104px;
    top: 310px;
    z-index: 2;
}

.slider_btn li {
    outline: 1px solid #8AB547;
    height: 12px;
    width: 12px;
}

.slider_btn button {
    width: 12px;
    height: 12px;
    display: block;
    border: none;
    background-color: inherit;
    position: relative;
}

.slider_btn button img {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
}


/*
.slider_btn .slider_btn_1 {
    width: 12px;
    height: 12px;
    background-position: -2068px -20px;
}
*/
.slider_btn .circle_btn{
    height: 12px;
    width: 12px;
    border: 1px solid black;
    display: block;
    border-radius: 50%;
    padding: 0;
    outline: none;
    
}
.slider_btn .circle_btn:focus{
    background: radial-gradient(at center, white, black);
    
    cursor: pointer;
}
.slider_btn .circle_btn:hover{
    background: radial-gradient(at center, white, black);
    
    cursor: pointer;
}
.slider_btn .circle_btn:active{
    background: radial-gradient(at center, black, white);
    
    cursor: pointer;
}
.circle_btn_here{
    background: radial-gradient(at center, white, black);
}
/*
.second_slide img {
    margin-left: 55px;
}
*/
/*

.second_slide .slide_number {
    top: -27px;
    right: -9px;
}
*/

/*
.second_slide .subtitle {
    margin-top: 67px;
    margin-bottom: 20px;
}
*/

.slide p {
    line-height: 30px;
    font-family: "Open Sans", "Gilroy", "Arial", sans-serif;
    font-weight: 600;
    letter-spacing: 0.18px;
}
/*

.second_slide .btn {
    margin-top: 44px;
}
*/

.main_description {
    position: relative;
    outline: 1px solid #8AB547;
    
}f

.slider img {
    outline: 1px solid #8AB547;
    /*временно*/
}

.first_slide img {
/*    margin-left: 29px;*/
}

.subtitle {
    outline: 1px solid #8AB547;
    /*временно*/
}

.main_description p {
    outline: 1px solid #8AB547;
/*    padding-left: 9px;*/
    /*временно*/
}

.main_description a {
    margin-bottom: 53px;
    outline: 1px solid #8AB547;
    margin-top: 46px;
    display: block;
    /* margin-left: 53px; */
    letter-spacing: 0.2em;
}

.main_description ul {
    outline: 1px solid #8AB547;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    /* margin-right: 74px; */
}

/*
.main_description h2 {
   
    
}
*/
.slide_part_first,
.slide_part_third,
.slide_part_second{
    box-sizing: border-box;
}
.slide_part_first{
    padding-left: 90px;
}
.slide_part_second{
    padding-left: 117px;
    padding-top: 12px;
}
.slide_part_third{
    padding-left: 32px;
    padding-top: 63px;
}
.main_description .btn {
    position: relative;
    width: 220px;
    text-align: center;
 
    padding-top: 11px;
    padding-bottom: 11px;
}
.third_slide .difference li{
    margin-right: 47px;
}

/*.main_description */

.btn::before {
    background-color: #f0c52e;
    position: absolute;
    content: '';
    /* width: 100%; */
    /* height: 8px; */
    top: 16px;
    left: 0;
    bottom: 16px;
    right: 0;
    /* display: block; */
    z-index: -1;
    transition-duration: .2s;
}


/*.main_description */

.btn:hover::before {
  bottom: 0;
    top: 0;
}

.main_description .btn:active {
    color: #BC9C21;
}

.difference li {
    outline: 1px solid #8AB547;
    display: flex;
    flex-direction: column;
    margin-right: 78px;
}

.first_difference {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 14px;
}

.second_difference {
    font-size: 13px;
    line-height: 20px;
}

/*
.third_slide img {
    margin-top: 65px;
}
*/
/*

.third_slide {
    padding-left: 30px;
}
*/

/*
.third_slide .subtitle {
    margin-bottom: 19px;
    position: relative;
}

.third_slide p {
    line-height: 29px;
}

.third_slide .btn {
    margin-top: 54px;
    margin-left: 52px;
}

.third_slide .difference {
    padding-right: 151px;
}
*/
.assortment{
    margin-bottom: 116px;
}
.assortment .central_device{
/*
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
*/
    outline: 1px solid #8AB547;
    /*временно*/
    display: flex;
    justify-content: space-between;
    
}

/*.assortment_type_block {*/
/*    outline: 1px solid #8AB547;*/
/*    временно*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    font-size: 18px;*/
/*    line-height: 21px;*/
/*    color: black;*/
/*    font-weight: bold;*/
/*    letter-spacing: .015em;*/
}


/*
.assortment_type_block img {
    background-color: #f7e296;
    margin-bottom: 35px;
}
*/

.assortment a {
    text-decoration: none;
}

.service {
    width: 100%;
    background: linear-gradient(to top, #e5e5e5 82%, white 18%);
    background-color: #e5e5e5;
    height: 285px;
    padding-bottom: 65px;
    margin-bottom: 97px;
    z-index: -2;
}

.service_container {
/*
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
*/
    outline: 1px solid #8AB547;
    /*временно*/
    display: flex;
    justify-content: space-between;
}

.service_delivery {
    position: relative;
}

.service_delivery::after {
    position: absolute;
    content: '';
    background-image: url(../img/svg-device/delivery.svg);
    right: 66px;
    top: 50px;
    width: 136px;
    height: 164px;
}

.service_guarantee {
    position: relative;
}

.service_guarantee::after {
    position: absolute;
    content: '';
    background-image: url(../img/svg-device/warranty.svg);
    right: 46px;
    top: 26px;
    width: 171px;
    height: 195px;
}

.service_loan {
    position: relative;
}

.service_loan::after {
    position: absolute;
    content: '';
    background-image: url(../img/svg-device/credit.svg);
    right: 70px;
    top: 26px;
    width: 156px;
    height: 188px;
}



.container {
    outline: 1px solid #8AB547;
    /*временно*/
    flex-basis: 300px;
    display: flex;
    margin-top: 30px;
}

.service_info {
    outline: 1px solid #8AB547;
    /*временно*/
    flex-basis: 760px;
    display: none;
}
.service_info_show{
    display: block;
}
.service_info p {
    outline: 1px solid #8AB547;
    /*временно*/
    font-size: 15px;
    line-height: 30px;
    width: 460px;
}

.services {
    outline: 1px solid #8AB547;
    /*временно*/
    list-style: none;
    padding: 0;
    width: 280px;
    position: relative;
}

.services::after {
    position: absolute;
    content: '';
    width: 7px;
    display: block;
    height: 319px;
    background-color: black;
    right: -4px;
    top: -80px;
}

.service_info .subtitle {
    letter-spacing: 1px;
    margin-bottom: 32px;
    padding-left: 1px;
}

.services a {
    text-decoration: none;
    outline: 1px solid #8AB547;
    /*временно*/
    color: black;
    font-size: 18px;
    line-height: 18px;
    width: 160px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3.6px;
    /*    background-color: red;*/
    /*временно*/
    padding-top: 11px;
    padding-bottom: 11px;
}

.services li {
    outline: 1px solid #8AB547;
    margin-bottom: 24px;
    width: 100%;
}

.services .btn {
    position: relative;
    z-index: 1;
}

/*.services */
/*
.btn::before {
    background-color: #f0c52e;
    position: absolute;
    content: '';
    width: 160px;
    height: 8px;
    z-index: -1;
    top: 6px;
    left: 0px;
    display: block;
}

.services 
.btn:hover::before {
    height: 40px;
    top: -11px;
    display: block;
}
*/

.services .btn:active::before {
    height: 40px;
    top: 0px;
    display: block;
    background-color: black;
    width: 280px;
}

.services .btn:active {
    color: #F7E296;
}
.services .display_show::before {
    height: 40px;
    top: 0;
    display: block;
    background-color: black;
    width: 280px;
}

.services .display_show {
    color: #F7E296;
}
/*
.delivery_display_show::before {
    height: 40px;
    top: -11px;
    display: block;
    background-color: black;
    width: 280px;
}

.guarantee_display_show::before {
    height: 40px;
    top: -11px;
    display: block;
    background-color: black;
    width: 280px;
}

.loan_display_show::before {
    height: 40px;
    top: -11px;
    display: block;
    background-color: black;
    width: 280px;
}
*/

.advertising_link {
    width: 260px;
    height: 100px;
}

.advertising_link_dji {
    background-image: url(../img/dji.jpg);
}

.advertising_link_dji:hover {
    background-image: url(../img/dji_hover.jpg);
}

.advertising_link_sp_gadgets {
    background-image: url(../img/sp.jpg);
}

.advertising_link_sp_gadgets:hover {
    background-image: url(../img/sp_hover.jpg);
}

.advertising_link_gopro {
    background-image: url(../img/gopro.jpg);
}

.advertising_link_gopro:hover {
    background-image: url(../img/gopro_hover.jpg);
}

.advertising_link_vive {
    background-image: url(../img/vive.jpg);
}

.advertising_link_vive:hover {
    background-image: url(../img/vive_hover.jpg);
}

.advertising {
/*
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
*/
    outline: 1px solid #8AB547;
    /*временно*/
    display: flex;
    justify-content: space-between;
    margin-bottom: 89px;
}

.about_us {
    outline: 1px solid #8AB547;
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 20px;
    margin-bottom: 62px;
}

.about_us_inner .subtitle {
    margin-left: -2px;
    margin-bottom: 43px;
    width: 598px;
}

.about_us_inner p {
    line-height: 31px;
    margin-bottom: 29px;
}

.about_us_inner ul {
    list-style: none;
    padding: 0;
    outline: 1px solid #8AB547;
    margin-top: 63px;
    padding-left: 35px;
    margin-bottom: 54px;
    letter-spacing: 0.1px;
}

.more_about_us {
    letter-spacing: 3.7px;
    position: relative;
    padding-bottom: 11px;
    padding-top: 11px;
    outline: 1px solid #8AB547;
    text-align: center;
    width: 257px;
    display: block;
    padding-left: 3px;
}

/*
.more_about_us::before {
    background-color: #f0c52e;
    position: absolute;
    content: '';
    width: 259px;
    height: 8px;
    top: 7px;
    left: -21px;
    display: block;
    z-index: -1;
}

.more_about_us:hover::before {
    height: 40px;
    top: -11px;
    display: block;
}
*/


.more_about_us:active {
    color: #BC9C21;
}

.central_btn {
    outline: 1px solid #8AB547;
    width: 50px;
    height: 10px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    width: 40px;
}

.central_btn .btn_up {
    outline: 1px solid #8AB547;
    background-image: url(../img/svg-device/icon-up-dir.svg);
    width: 11px;
    height: 10px;
    display: block;
}

.central_btn .btn_down {
    outline: 1px solid #8AB547;
    background-image: url(../img/svg-device/icon-down-dir.svg);
    width: 11px;
    height: 10px;
    display: block;
}

.about_us_inner span {
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
    position: relative;
}

.about_us_inner span::before {
    top: 24%;
    left: -37px;
    width: 4px;
    height: 4px;
    border: 3px solid #b2b2b2;
    border-radius: 50%;
    position: absolute;
    content: '';
}

.footer_conteiner {
/*
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
*/
    outline: 1px solid #8AB547;
    /*временно*/
    display: flex;
    justify-content: space-between;
}

.left {
    outline: 1px solid #8AB547;
    padding-top: 60px;
    position: relative;
}
.left::before{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #ffc600;
    top:1px;
    left: 1px;
}
.footer_logo,
.footer_logo_index{
    font-size: 48px;
    color: #ffc600;
    letter-spacing: .012em;
    margin: 0;
    margin-left: -4px;
    margin-bottom: 16px;
    text-decoration: none;
}

.footer_logo:hover {
    opacity: .6;
    cursor: pointer;
}

.footer_logo:active {
    opacity: .3;
    cursor: pointer;
}

.left p {
    color: white;
    letter-spacing: -0.03px;
}

.footer_link {
    cursor: pointer;
}

.footer_link:hover {
    opacity: .6;
    cursor: pointer;
}

.footer_link:active {
    opacity: .3;
    cursor: pointer;
}
.footer_link_user{
    background-image: url(../img/svg-device/user_footer.svg);
    background-repeat: no-repeat;
    background-position: 3px 0px;

}
.footer_link_compare{
    background-image: url(../img/svg-device/compare_footer.svg);
    background-repeat: no-repeat;
    background-position: 10px 2px;

}
.footer_link_cart{
    background-image: url(../img/svg-device/cart_footer.svg);
    background-repeat: no-repeat;
    background-position: 7px 0px;

}
.user_block_footer a {
    color: rgba(255, 255, 255, .7);
    text-decoration: none;
    outline: 1px solid #8AB547;
    padding-left: 29px;
}

.user_block_footer {
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    margin-bottom: 52px;
}
.user_block .basket{
    background-image: url(../img/svg-device/cart.svg);
    background-position: 1px 11px;
    background-repeat: no-repeat;
    margin-left: auto;
    padding-left: 24px;
}
.tel {
    color: white;
    outline: 1px solid #8AB547;
    padding-left: 184px;
    letter-spacing: 0.2px;
    margin-bottom: 68px;
}

.left,
.right {
    outline: 1px solid #8AB547;
    width: 30%;
}

.academy {
    outline: 1px solid #8AB547;
    display: flex;
    justify-content: flex-end;
   
}

.academy a:hover {
    opacity: .6;
}

.academy a:active {
    opacity: .3;
}

.center {
    outline: 1px solid #8AB547;
    width: 40%;
}

.footer_social {
    outline: 1px solid #8AB547;
    display: flex;
    margin-bottom: 70px;
    justify-content: space-between;
    padding-left: 161px;
    padding-right: 163px;
}

.social_link {
    outline: 1px solid #8AB547;
    width: 32px;
    height: 32px;
    opacity: .6;
}

.social_link:hover {
    opacity: inherit;
}

.social_link:active {
    opacity: .3;
}

.footer_options a {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: bold;
    text-decoration: none;
    padding-left: 1px;
}

.footer_options {
    padding-top: 137px;
    display: flex;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 64px;
}

.footer_options a:hover {
    opacity: .6;
}

.footer_options a:active {
    opacity: .3;
}

.contacts .subtitle {
    letter-spacing: 0.7px;
    margin-bottom: 44px;
    padding-left: 1px;
}

.contacts p {
    line-height: 30px;
    margin-bottom: 38px;
    padding-left: 2px;
}

.map {
    margin-left: 4px;
}

.write_to_us {
    margin-top: 66px;
    display: block;
    letter-spacing: 3.7px;
    position: relative;
    z-index: 1;
    padding-bottom: 11px;
    padding-top: 11px;
    outline: 1px solid #8AB547;
    width: 257px;
    display: block;
    padding-left: 2px;
    text-align: center;
    margin-left: 5px;
}

/*
.write_to_us::before {
    background-color: #f0c52e;
    position: absolute;
    content: '';
    width: 260px;
    height: 8px;
    top: 5px;
    left: -40px;
    display: block;
    z-index: -1;
}

.write_to_us:hover::before {
    height: 40px;
    top: -11px;
    display: block;
}
*/

.write_to_us:active {
    color: #BC9C21;
}

.device_footer {
    outline: 1px solid #8AB547;
    /*временно*/
    background-color: #464646;
}

.inner_catalog {
/*
    margin-left: auto;
    margin-right: auto;
    width: 1160px;
*/
    outline: 1px solid #8AB547;
    /*временно*/
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    margin-bottom: 25px;
}

.inner_catalog h2 {
    margin-bottom: 19px;
    letter-spacing: .012em;
    font-size: 47px;
    padding-left: 60px;
    color: #000;
}

.bread_crumbs {
    list-style: none;
    padding: 0;
    display: flex;
    outline: 1px solid #8AB547;
    /*временно*/
    padding-left: 60px;
    flex-wrap: wrap;
}

.bread_crumbs li {
    padding-left: 38px;
    outline: 1px solid #8AB547;
    /*временно*/
    position: relative;
}

.bread_crumbs li:first-child {
    padding-left: 0;
}

.bread_crumbs li:not(:first-child)::before {
    position: absolute;
    content: '';
    display: block;
    background-image: url(../img/svg-device/nav-arrow.svg);
    width: 4px;
    height: 7px;
    top: 15px;
    left: 17px;
}

.bread_crumbs a {
    text-decoration: none;
    color: black;
    outline: 1px solid #8AB547;
    /*временно*/
    font-size: 14px;
    line-height: 36px;
    opacity: .6;
}

.bread_crumbs a:hover {
    opacity: inherit;
}

.bread_crumbs a:active {
    opacity: .3;
}

.content_central {
    outline: 1px solid #8AB547;
    display: flex;
}

.central {
    width: 100%;
}

.catalog_filter {
    outline: 1px solid #8AB547;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: calc(50% - 580px);
    background: linear-gradient(to top, #efefef 92%, #dcdcdc 8%);
}

.catalog_items {
    outline: 1px solid #8AB547;
    display: flex;
    flex-wrap: wrap;
    padding-right: calc(50% - 580px);
    background: linear-gradient(to top, white 92%, #efefef 8%);
}

.menu_varieties {
    display: flex;
    align-items: center;
    padding-top: 14px;
    outline: 1px solid #8AB547;
    padding-bottom: 14px;
}

.inner_items {
    display: flex;
    outline: 1px solid #8AB547;
}

.inner_items a {
    outline: 1px solid #8AB547;
    margin-right: 31px;
    color: black;
    opacity: .6;
}

.inner_items a:hover {
    opacity: .9;
}

.inner_items a:active {
    opacity: inherit;
}

.inner_items a:first-child {
    opacity: inherit;
    cursor: text;
}

.inner_items a:first-child:hover {
    opacity: inherit;
    cursor: text;
}

.menu_varieties h2 {
    padding-left: 71px;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: .23em;
    margin-right: 50px;
}

.menu_varieties a {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
}

.goods {
    outline: 1px solid #8AB547;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.goods_new {
    position: relative;
}

.goods_new::before {
    content: "NEW";
    position: absolute;
    top: 29px;
    right: 27px;
    width: 30px;
    height: 16px;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
    font-weight: bold;
    padding-top: 21px;
    padding-bottom: 19px;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 14px;
    text-align: center;
    color: rgba(0, 0, 0, .2);
    letter-spacing: 1px;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 50%;
}

.inner_content {
    min-width: 1240px;
    outline: 1px solid #8AB547;
    margin: 0;
    padding: 0;
}

.filter_form {
    width: 200px;
    display: flex;
    flex-direction: column;
    outline: 1px solid #8AB547;
    margin-left: 60px;
    margin-right: 70px;
    margin-top: 84px;
}

.filter_form fieldset {
    border: none;
}

.catalog_filter h2 {
    font-size: 16px;
    line-height: 16px;
    /*    width: 100%;*/
    text-align: right;
    margin: 0;
    padding-bottom: 27px;
    /*временно*/
    padding-top: 27px;
    /*временно*/
    text-align: left;
    padding-right: 178px;
    letter-spacing: .23em;
}

.inner_main_items {
    display: flex;
    outline: 1px solid #8AB547;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 58px;
    padding-left: 71px;
    flex-wrap: wrap;
}

.goods_name {
    text-decoration: none;
    outline: 1px solid #8AB547;
    width: 260px;
    margin: 0;
    font-size: 18px;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
    font-weight: bold;
    color: #000;
    letter-spacing: .012em;
    line-height: 21px;
}

.goods_layers {
    margin-bottom: 31px;
}

.goods {
    position: relative;
}

.hover_surprise {
    position: absolute;
    content: '';
    width: 360px;
    display: none;
    outline: 1px solid #8AB547;
/*        display: flex;*/
    top: 0;
    left: 0;
    flex-direction: column;
    padding-top: 171px;
    background-color: rgba(239, 239, 239, 0.6);
}

.hover_surprise_buy {
    outline: 1px solid #8AB547;
    text-align: center;
    letter-spacing: 4px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 17px;
    position: relative;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    padding-top: 11px;
    padding-bottom: 11px;
}

/*
.hover_surprise_buy::before {
    background-color: #f0c52e;
    position: absolute;
    content: '';
    width: 200px;
    height: 8px;
    top: 4px;
    left: 0px;
    display: block;
    z-index: -1;
}

.hover_surprise_buy:hover::before {
    height: 40px;
    top: -11px;
    display: block;
}
*/

.hover_surprise_buy:active {
    color: #be9c22;
}

.hover_surprise_compare {
    outline: 1px solid #8AB547;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 13px;
    margin-bottom: 137px;
    margin-left: auto;
    margin-right: auto;
    opacity: .6;
}

.hover_surprise_compare:hover {
    opacity: inherit;
}

.hover_surprise_compare:active {
    opacity: .3;
}

.goods_layers:hover .hover_surprise {
    display: flex;
}

.name_and_price {
    display: flex;
    justify-content: space-between;
}

.name_and_price span {
    padding-right: 1px;
    letter-spacing: 0.7px;
    margin-top: 4px;
}

.catalog_items_nav {
    outline: 1px solid #8AB547;
    display: flex;
    list-style: none;
    padding: 0;
    width: 760px;
    margin-right: 0;
    margin-left: auto;
    justify-content: center;
    margin-top: 0;
    background-color: #ebebeb;
}

.catalog_items_nav a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
    font-weight: bold;
    color: black;
    font-size: 16px;
}

.figures {
    outline: 1px solid #8AB547;
    padding-top: 28px;
    width: 25px;
    margin-right: 14px;
    margin-left: 14px;
    width: 10px;
}

.figures a {
    letter-spacing: 1px;
    opacity: .3;
}

.figures a:hover {
    opacity: .6;
}

.figures_first a {
    opacity: .9;
    cursor: text;
}

.figures_first a:hover {
    opacity: inherit;
}

.figures a:active {
    opacity: inherit;
}

.catalog_items_prev {
    margin-right: 199px;
}

.prev_next {
    padding-left: 30px;
    padding-right: 25px;
    padding-top: 27px;
    padding-bottom: 27px;
    display: block;
    outline: 1px solid #8AB547;
}

.prev_next:hover {
    background-color: #dcdcdc;
}

.prev_next:active {
    opacity: .3;
}

.catalog_items_next {
    margin-left: auto;
}

/*
.second_slide {
    padding-top: 12px;
}
*/

.index_catalog {
    position: relative;
}

/*
.device_header {
    height: 184px;
}
*/

.form_legend {
    font-size: 18px;
    line-height: 18px;
    color: black;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
    font-weight: bold;
    outline: 1px solid #8AB547;
}

.form_legend_price {
    margin-bottom: 38px;
}

.filter_form fieldset {
    outline: 1px solid #8AB547;
/*    display: flex;*/
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
}

.filter_price {
    outline: 1px solid #8AB547;
    display: flex;
    justify-content: space-between;
}

.filter_price span:last-child {
    margin-right: 56px;
}

.range_controls {
    position: relative;
    margin-bottom: 10px
}

.scale {
    height: 2px;
    background: #dbdbdb
}

.bar {
    width: 54%;
    height: 2px;
    background: #91c92f;
}

.range_toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, .2);
}

.range_toggle:hover {
    background: #1c4f80;
}

.range_toggle_min {
    left: -5px;
}

.range_toggle_max {
    left: 54%;
}

.filter_price span {
    opacity: .3;
    font-size: 14px;
    line-height: 22.27px;
}

.filter_checkbox_lable {
    position: relative;
    line-height: 40px;
    padding-left: 39px;
    font-size: 14px;
    cursor: pointer;
    outline: 1px solid #8AB547;
    display: block;
}

.filter_checkbox_lable input[type="checkbox"]+.checkbox_indicator {
    position: absolute;
    width: 23px;
    height: 23px;
    background-image: url(../img/svg-device/checkbox-off.svg);
    top: 7px;
    left: -1px;
}

.filter_checkbox_lable input[type="checkbox"]+.checkbox_indicator:hover {
    opacity: .6;
}

.filter_checkbox_lable input:checked+.checkbox_indicator {
    background-image: url(../img/svg-device/checkbox-on.svg);
    width: 27px;
    height: 23px;
}

.filter_form fieldset:nth-child(2) {
    margin-bottom: 45px;
}

.filter_checkbox {
    display: none;
}

.form_legend_color {
    padding-bottom: 22px;
}

.bth_no_yes {
    outline: 1px solid #8AB547;
    position: relative;
    font-size: 14px;
    line-height: 40px;
    padding-left: 40px;
    display: block;
}

.filter_radio {
    display: none;
}

.inner_form_btn {
    background-color: inherit;
    border: none;
    letter-spacing: 3.5px;
    position: relative;
    z-index: 2;
    padding-bottom: 11px;
    padding-top: 11px;
}

/*
.inner_form_btn::before {
    background-color: #f0c52e;
    position: absolute;
    content: '';
    width: 200px;
    height: 8px;
    top: 4px;
    left: 0px;
    display: block;
    z-index: 1;
}

.inner_form_btn:hover::before {
    height: 40px;
    top: -11px;
    display: block;
}
*/

.bth_no_yes input[type="radio"]+.radio_indicator {
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(../img/svg-device/radio-off.svg);
    top: 7px;
    left: -1px;
}

.bth_no_yes input[type="radio"]+.radio_indicator:hover {
    opacity: .6;
    cursor: pointer;
}

.bth_no_yes input:checked+.radio_indicator {
    background-image: url(../img/svg-device/radio-on.svg);
}

.form_legend_radio {
    margin-bottom: 20px;
}

.popup {
    outline: 1px solid #8AB547;
    width: 960px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    z-index: 10;
    background-color: white;
    /*    display: flex;*/
    display: none;
    flex-direction: column;
    box-shadow: -40px 0 40px -40px rgba(2, 4, 6, .75), 40px 0 40px -40px rgba(2, 4, 6, .75), 0 8px 20px 2px rgba(2, 4, 6, .2);
}
.popup_show{
    display: flex;
}
.popup_map {
    height: 560px;
    position: fixed;
    content: '';
    z-index: 10;
    outline: 1px solid #8AB547;
    width: 960px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: -40px 0 40px -40px rgba(2, 4, 6, .75), 40px 0 40px -40px rgba(2, 4, 6, .75), 0 8px 20px 2px rgba(2, 4, 6, .2);
    background-size: 110%;
    background-position: center;
    background-image: url(../img/map_big.jpg);
    display: none;
    
}
.popup_map_show {
    display: block;
}


.popup_form {
    outline: 1px solid #8AB547;
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 19px;
    margin-bottom: 85px;
}

.popup_close {
    margin-top: 22px;
    margin-right: 22px;
    width: 55px;
    height: 55px;
    font-size: 0;
    background-color: #f7e296;
    border: none;
    border-radius: 50%;
    align-self: flex-end;
    cursor: pointer;
    position: relative;
    outline: none;
    opacity: .6;
}

.popup_close:hover,
.popup_close:focus {
    background-color: #f0c52e;
    opacity: 1;
}

.popup_close:active {
    opacity: .3;
}

.popup_close::before {
    content: "";
    position: absolute;
    top: 27px;
    left: -2px;
    width: 30px;
    height: 2px;
    background-color: #fff;
    transform: translateX(50%) rotate(45deg);
}


.popup_close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 2px;
    background-color: #fff;
    transform: translateX(-50%) rotate(-45deg);
}
.popup_close_map {
   
    width: 55px;
    height: 55px;
    font-size: 0;
    background-color: #f7e296;
    border: none;
    border-radius: 50%;
    align-self: flex-end;
    cursor: pointer;
    position: relative;
    outline: none;
    opacity: .6;
}

.popup_close_map:hover,
.popup_close_map:focus {
    background-color: #f0c52e;
    opacity: 1;
}

.popup_close_map:active {
    opacity: .3;
}

.popup_close_map::before {
    content: "";
    position: absolute;
    top: 27px;
    left: -2px;
    width: 30px;
    height: 2px;
    background-color: #fff;
    transform: translateX(50%) rotate(45deg);
}


.popup_close_map::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 2px;
    background-color: #fff;
    transform: translateX(-50%) rotate(-45deg);
}
.popup_close_conteiner{
    outline: 1px solid #8AB547;
    width: 55px;
    height: 55px;
    position: absolute;
    content: '';
    top: 23px;
    right: 23px;
}
.popup_lable_name {
    outline: 1px solid #8AB547;
    width: 360px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
}
.iframe{
    position: relative;}
.popup_lable_mail {
    outline: 1px solid #8AB547;
    width: 360px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
}

.mail_text {
    outline: 1px solid #8AB547;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    font-family: "Gilroy", "Open Sans", "Arial", sans-serif;
    margin-top: 39px;
    letter-spacing: 0.2px
}

.popup input {
    background-color: #f2f2f2;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    border: none;
    margin-top: 10px;
}

.popup input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
}

.popup input::-moz-placeholder {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
}

.popup input:-moz-placeholder {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
}

.popup input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
}

.popup textarea {
    background-color: #f2f2f2;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    border: none;
    height: 124px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin-bottom: 51px;
}

.popup_btn {
    width: 200px;
    background-color: inherit;
    border: none;
    letter-spacing: 4px;
    margin-left: 1px;
    position: relative;
    outline: none;
}

.filter_form fieldset:nth-child(3) {
    margin-bottom: 42px;
}

.popup_btn::before {
    background-color: #f0c52e;
    position: absolute;
    content: '';
    width: 200px;
    height: 8px;
    top: 6px;
    left: -1px;
    display: block;
    z-index: -1;
}

.popup_btn:hover::before {
    height: 40px;
    top: -11px;
    display: block;
}

.popup_btn:focus::before {
    height: 40px;
    top: -11px;
    display: block;
}

.popup_btn:active {
    color: #be9c22;
}

.popup_form input:hover {
    background-color: #eaeaea;
}

.popup_form input:focus {
    background-color: inherit;
    outline: 2px solid #f7e296;
}
.assortment_type {
    width: 160px;
    color: black;
    font-weight: bold;
    margin: 0;
        outline: 1px solid #8AB547;

   
  text-decoration: none;
        font-size: 18px;
        line-height: 21px;
    min-height: 240px;
   
        letter-spacing: .015em;
}

.assortment_type::before {
    display: block;
    content: "";
    width: 100%;
    background-color: #f7e296;
    padding-top: 100%;
    margin-bottom: 34px;
    background-repeat: no-repeat;
    background-position: center;
}

.assortment_type:active {
    color: #cacaca;
}

.assortment_type:hover::before {
    background-color: #f0c52e;
}

.assortment_type:active::before {
    opacity: .6;
}

.quadcopter::before {
    background-image: url(../img/svg-device/poppular-6.svg);
    background-position: 13px 48px;
}

.smart_watch::before {
    background-image: url(../img/svg-device/popular-5.svg);
    background-position: 55px 31px
}
.bracelet{
    letter-spacing: 0.1px;
}

.bracelet::before {
    background-image: url(../img/svg-device/popular-4.svg);
    background-position: 28px 49px;
}

.selfie_stick::before {
    background-image: url(../img/svg-device/popular-2.svg);
    background-position: 38px 40px;
  
}

.glasses::before {
    background-image: url(../img/svg-device/popular-1.svg);
    background-position: 31px 51px;
}

.camera::before {
    background-image: url(../img/svg-device/popular-3.svg);
    background-position: 49px 37px;
}
.service_guarantee .subtitle {
    letter-spacing: 0.6px;
}
.service_loan p{
    width: 430px;
}
.service_loan .subtitle {
    letter-spacing: 0.5px;
   
}
.facebook{
    background-image: url(../img/svg-device/fb.svg);
    background-repeat: no-repeat;
    background-position: 1px 1px;
}
.instagram{
    background-image: url(../img/svg-device/instagram.svg);
    background-repeat: no-repeat;
    background-position: 1px 1px;
}
.twitter{
    background-image: url(../img/svg-device/twitter.svg);
    background-repeat: no-repeat;
    background-position: 1px 1px;
}
.service_info_show
.display_show


.delivery_display
.guarantee_display
.loan_display

.service_delivery
.service_guarantee
.service_loan
