.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-bracelet {
    width: 107px;
    height: 65px;
    background-position: -20px -20px;
}

.sprite-camera {
    width: 71px;
    height: 87px;
    background-position: -167px -20px;
}

.sprite-cart_footer {
    width: 12px;
    height: 12px;
    background-position: -278px -20px;
}

.sprite-cart_top {
    width: 12px;
    height: 12px;
    background-position: -330px -20px;
}

.sprite-compare {
    width: 10px;
    height: 10px;
    background-position: -382px -20px;
}

.sprite-compare_footer {
    width: 10px;
    height: 10px;
    background-position: -432px -20px;
}

.sprite-credit {
    width: 156px;
    height: 186px;
    background-position: -482px -20px;
}

.sprite-delivery {
    width: 136px;
    height: 164px;
    background-position: -678px -20px;
}

.sprite-enter {
    width: 13px;
    height: 12px;
    background-position: -854px -20px;
}

.sprite-enter_footer {
    width: 13px;
    height: 12px;
    background-position: -907px -20px;
}

.sprite-facebook {
    width: 32px;
    height: 32px;
    background-position: -960px -20px;
}

.sprite-glasses {
    width: 97px;
    height: 55px;
    background-position: -1032px -20px;
}

.sprite-icon_down_click {
    width: 11px;
    height: 10px;
    background-position: -1169px -20px;
}

.sprite-icon_up_click {
    width: 11px;
    height: 10px;
    background-position: -1220px -20px;
}

.sprite-instagram {
    width: 32px;
    height: 32px;
    background-position: -1271px -20px;
}

.sprite-logo_html {
    width: 27px;
    height: 35px;
    background-position: -1343px -20px;
}

.sprite-quadcopter {
    width: 132px;
    height: 69px;
    background-position: -1410px -20px;
}

.sprite-search {
    width: 16px;
    height: 16px;
    background-position: -1582px -20px;
}

.sprite-selfie_stick {
    width: 86px;
    height: 117px;
    background-position: -1638px -20px;
}

.sprite-smart_watch {
    width: 56px;
    height: 98px;
    background-position: -1764px -20px;
}

.sprite-twitter {
    width: 32px;
    height: 32px;
    background-position: -1860px -20px;
}

.sprite-warranty {
    width: 171px;
    height: 194px;
    background-position: -1932px -20px;
}
